<div class="row my-3">
  <div class="col">
    <h2>History</h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <ul class="list-group list-group-flush">
      <% @events.each do |event| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-6">
              <%= event.activity.title %>
            </div>
            <div class="col-md">
              <%= event.happened_at.localtime.stamp("9/9/99 at 3:00am PST") %>
            </div>
            <div class="col-md">
              <%= number_to_currency(event.value) %>
            </div>
            <div class="col-md">
              <%= link_to 'Show', event %> | <%= link_to 'Edit', edit_event_path(event) %> | <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
