<div class="row my-3">
  <div class="col">
    <h2>Record Mov</h2>
  </div>
</div>

<%= simple_form_for(@event) do |f| %>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-md-8">
          <%= f.input :activity_id, as: :select, collection: @activities.map { |a| [a.title, a.id]}, label: "Past Movs", required: false, prompt: '- Select from past Movs -' %>
        </div>
        <div class="col-md-4">
          <label>TODO: Value</label>
            <%= text_field_tag('', '', placeholder: 'Editable Activity value preloaded', class: 'form-control', disabled: true) %>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-8">
          <label>Create New Mov</label>
          <%= text_field_tag('activity[title]', @new_activity.title, placeholder: 'Or create a new one...', class: 'form-control') %>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>New Mov Value</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"">$</div>
              </div>
              <%= number_field_tag('activity[value]', @new_activity.value, placeholder: '5.00...', class: 'form-control', min: 0.01, step: '0.01') %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 my-2">
        <%= f.submit "Save Mov", class: 'btn btn-primary' %>
      </div>
  </div>
<% end %>
