<dl class="row mt-3">
  <dt class="col-sm-3">Activity Title: </dt>
  <dd class="col-sm-9"><%= @event.activity.title %></dd>

  <dt class="col-sm-3">Happened On:</dt>
  <dd class="col-sm-9"><%= happened_at_formatted(@event) %></dd>

  <dt class="col-sm-3">Savings</dt>
  <dd class="col-sm-9"><%= number_to_currency(@event.value) %></dd>
</dl>


<div class="row">
  <div class="col-md-12">

  </div>
  <div class="col-md">

  </div>
  <div class="col-md">

  </div>
</div>


<div class="row">
  <div class="col">
    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Back', activity_path(@event.activity_id) %>
  </div>
</div>
