<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <div class="container">
    <%= link_to 'SmartMov', root_path, class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-navBarToggler" aria-controls="bs-navBarToggler" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="bs-navBarToggler">
        <div class="navbar-nav ml-auto">
          <%= active_link_to 'Record Mov', new_event_path, active: :exclusive, class: 'nav-item nav-link' %>
          <%= active_link_to 'History', events_path, active: :exclusive, class: 'nav-item nav-link' %>
          <%= active_link_to 'Summary', '/asdf', class: 'nav-item nav-link' %>
          <div class="nav-item dropdown">
            <%= link_to current_user_greeting, '#', class: 'ml-md-2 nav-link dropdown-toggle', id: 'bs-profileNavDropdown', 'data-toggle' => 'dropdown', 'aria-haspopup' => true, 'aria-expanded' => false, role: 'button' %>
            <div class="dropdown-menu" aria-labelledby="#bs-profileNavDropdown">
              <%= active_link_to 'Settings', '/asdf', class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Sign Out', destroy_user_session_path, method: 'DELETE', class: 'dropdown-item' %>
            </div>
          </div>
        </div>
      </div>
    <% elsif !current_page?(new_user_session_path) %>
      <nav class="navbar-nav">
        <%= link_to 'Sign In', new_user_session_path, class: 'nav-item nav-link' %>
      </nav>
    <% end %>
  </div>
</nav>
