<div class="row">
  <%= simple_form_for activity do |f| %>
    <div class="col-12">
      <%= f.input :title, required: false %>
    </div>

    <div class="col-12 mt-4">
      <%= f.input :value, label: 'Savings', required: false, placeholder: '5.00...', input_html: {min: 0.01, step: '0.01'} do %>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"">$</div>
          </div>
          <%= f.input_field :value, class: 'form-control', class: 'form-control', min: 0.01, step: '0.01' %>
          <%= f.error :value, id: 'event_value', class: 'invalid-feedback' %>
        </div>
      <% end %>
    </div>

    <div class="col-12 mt-4">
      <%= f.input :favorite %>
    </div>

    <div class="col-12 mt-4">
      <%= f.submit 'Save Activity', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
