<div class="row">
  <div class="col">
    <div id="chart1">asdf</div>
  </div>
</div>


<div class="row">
  <div class="col">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h1>Activities</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <ul class="list-group list-group-flush">
      <% @activities.each do |activity| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <%= activity.title %>
          </div>
          <div class="col-md-2">
            <%= link_to 'Show', activity %> | <%= link_to 'Edit', edit_activity_path(activity) %> | <%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<br>

<div class="row">
  <div class="col">
    <%= link_to 'New Activity', new_activity_path %>
  </div>
</div>

<br>
