<div class="row">
  <div class="col">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h1>History</h1>
  </div>
</div>



<div class="row">
  <div class="col">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr class="d-flex text-right">
          <th class="col-5 text-left">Type</th>
          <th class="col-2">Value</th>
          <th class="col-2">Times</th>
          <th class="col-3"></th>
        </tr>
      </thead>
      <tbody>
        <% @activities.each do |activity| %>
          <tr class="d-flex text-right">
            <th class="col-5 text-left"><%= activity.title %></th>
            <th class="col-2"><%= number_to_currency(activity.value_saved) %></th>
            <th class="col-2"><%= activity.num_movs %></th>
            <th class="col-3">
              <%= link_to 'Show', activity %> | <%= link_to 'Edit', edit_activity_path(activity) %> | <%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to 'New Activity', new_activity_path %>
  </div>
</div>

<br>
