<!DOCTYPE html>
<html>
  <head>
    <title>SmartMov</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag    'application' %>
  </head>

  <body>
    <%= render partial: '/layouts/header/navbar' %>
    <div class="container">

    <!-- <div id="hello"> -->
      <!-- {{message}} -->
      <!-- <hello></hello> -->
    <!-- </div> -->

      <% flash.each do |key, value| %>
        <div id="js-flash" class="<%= flash_class(key) %>">
          <%= value %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
